# direnv runconfig
.envrc

# binaries
juggler-server
juggler-client
juggler-callee
juggler-load

# but do not ignore command source directories
!cmd/juggler-server/
!cmd/juggler-client/
!cmd/juggler-callee/
!cmd/juggler-load/

# ignore the vendoring directories, only used to build docker images
vendor/
Godeps/
